/*Syles the html file to contain a light blue background with 
dark blue text*/
html{
    background-color: darkblue;
    animation: mymove 5s infinite alternate; /*Applies animation
    to the background color of the webpage*/
    color: darkblue
}

/*Creates the animation for the background color*/
@keyframes mymove {
    from {
        background-color: rgb(43, 117, 127); /*beginning color*/
    }
    to {
        background-color: lightblue; /* Ending color */
    }
}

/*Styles the image to be corrected to the appropriate dimensions 
and adds a red, dashed border around The Tech Academy logo*/
img{
    width: 600px;
    height: 300px;
    border: 2px dashed red;
}

h3{
    text-align: center; /*Centers the text*/
}

/*Targets the HTML element with the class video-frame and appies 
style to it*/
.video-frame{
    width: 560px;
    height: 315px;
    border: 0;
}