/*Import link for the Poppins font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*General Style*/
html{font-family: "Poppins", serif;
font-size: 25px;

}


/*CONTACT FORM CSS*/
input {
    width: 100%;
    margin: 8px 0;
    border: 2px solid darkgoldenrod;
    border-radius: 5px;

}